@import './../../App.scss';

.category {
    padding: 5rem 0;
}

.category {
    background: var(--darkGrey);
    text-align: center;
}

.category-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
}

.singleCategory span {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.category h6 {
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
}

.category p {
    width: 80%;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .category-center {
        width: 95vw;
        max-width: 1170px;
    }
}

@media screen and (min-width: 1200px) {
    .category p {
        width: 100%;
    }
}

/*end of category */